<!DOCTYPE html>
<html lang="ru">

<head>
  {{>meta}}

  <title>{{{title}}}</title>

  {{>links}}
  <style>
    .details {
      display: none;
    }
  </style>
</head>

<body data-gr-c-s-loaded="true" class="">
  {{>navbar}}
  {{{body}}}
  {{>author}}
</body>

</html>